<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rotom with string template</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body style="max-width: 800px">
    <slot-test>Rotom tests!</slot-test>
    <hr />
    <render-schedule-test></render-schedule-test>
    <hr />
    <kitchen-sink-test first-name="Silver" description="This is my favorite group of people."></kitchen-sink-test>
    <hr />
    <lifecycle-test first-name="Amy" description="Testing lifecycles..."></lifecycle-test>
    <br />
    <button class="delete-btn">Remove above element</button>
    <hr />
    <custom-accessor-test></custom-accessor-test>
    <hr />
    <nested-element-test>
      <p>This is forwarded slot content</p>
    </nested-element-test>

    <!-- Test DOM cleanup: -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        document.querySelector(".delete-btn").addEventListener("click", () => {
          const testElement = document.querySelector("lifecycle-test")
          testElement.parentNode.removeChild(testElement)
        })
      })
    </script>

    <script src="bundle.js" defer></script>

    <!-- Uncomment bundle.js and comment in these to test CDN: -->

    <!-- Peer renderer: -->

    <!-- <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/omdomdom@0.2.3/dist/omdomdom.js"
      integrity="sha256-HBLiViWpBlIc3sW3GXN1ZDGOqzCCZSzP4COMH2ToKrk="
      crossorigin="anonymous"
    ></script> -->

    <!-- Choose only one: -->

    <!-- <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/rotom@0.8.1-alpha.0/dist/rotom.template.js"
      integrity="sha256-bTESWLEO7RugFyx49taqcqsLKSAcseG9fbsMC8Ue/5k="
      crossorigin="anonymous"
    ></script> -->

    <!-- <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/rotom@0.8.1-alpha.0/dist/rotom.template.min.js"
      integrity="sha256-IHi2nfMkx1PF4x+Qj/qMNkQCM+jOJu4UJVL4fqukpwQ="
      crossorigin="anonymous"
    ></script> -->
  </body>
</html>
