<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rotom with string template</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body style="max-width: 800px">
    <h1>Rotom demo</h1>
    <h2>Slotted content test</h2>
    <slot-test>Foo bar</slot-test>
    <hr />
    <h2>Render schedule test (should start at 1)</h2>
    <render-schedule-test></render-schedule-test>
    <hr />
    <h2>Kitchen sink</h2>
    <kitchen-sink-test first-name="Silver" description="This is my favorite group of people."></kitchen-sink-test>
    <hr />
    <h2>Lifecycles (see console)</h2>
    <lifecycle-test first-name="Amy" description="Testing lifecycles..."></lifecycle-test>
    <br />
    <button class="change-btn">Remove above element</button>
    <p>(this button will remove the component, cause a disconnect/unmount, then on append, re-call connect/mount)</p>
    <hr />
    <h2>Custom accessor test</h2>
    <custom-accessor-test></custom-accessor-test>
    <hr />
    <h2>Nested components</h2>
    <nested-element-test>
      <p>This is forwarded slot content</p>
    </nested-element-test>

    <!-- Test DOM clean and component state after appending: -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const testElement = document.querySelector("lifecycle-test")
        const changeBtn = document.querySelector(".change-btn")
        let rendered = true
        let triggerText = () => (rendered ? "Remove" : "Add")

        changeBtn.addEventListener("click", () => {
          if (rendered) {
            testElement.parentNode.removeChild(testElement)
            rendered = false
            changeBtn.innerText = triggerText()
          } else {
            document.body.insertBefore(testElement, changeBtn.previousElementSibling)
            rendered = true
            changeBtn.innerText = triggerText()
          }
        })
      })
    </script>

    <!-- <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/omdomdom@0.3.0/dist/omdomdom.js"
      integrity="sha256-BpjOyF5QNlVmvIoAucFkb4hr+8+5r0qctp12U3J9cmM="
      crossorigin="anonymous"
    ></script> -->
    <!-- <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/omdomdom@0.3.0/dist/omdomdom.min.js"
      integrity="sha256-3nljHoQODiym3VbusqWmLtNJpCerzfNgoqH3RM/Vi34="
      crossorigin="anonymous"
    ></script> -->

    <!-- <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/rotom@0.11.2/dist/rotom.template.js"
      integrity="sha256-FRqLYkQJFOJXaqKUCYRXfpu3prC5rvjid7Tp61xXtPE="
      crossorigin="anonymous"
    ></script> -->
    <!-- <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/rotom@0.11.2/dist/rotom.template.min.js"
      integrity="sha256-5xOfSVahaY3ZiTl+WliMo+AatEkvq06CAyHXHaceqjw="
      crossorigin="anonymous"
    ></script> -->

    <script src="bundle.js" defer></script>
  </body>
</html>
