<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rotom with string template</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body style="max-width: 800px">
    <slot-test>Rotom demo</slot-test>
    <hr />
    <render-schedule-test></render-schedule-test>
    <hr />
    <kitchen-sink-test first-name="Silver" description="This is my favorite group of people."></kitchen-sink-test>
    <hr />
    <lifecycle-test first-name="Amy" description="Testing lifecycles..."></lifecycle-test>
    <br />
    <button class="delete-btn">Remove above element</button>
    <hr />
    <custom-accessor-test></custom-accessor-test>
    <hr />
    <nested-element-test>
      <p>This is forwarded slot content</p>
    </nested-element-test>

    <!-- Test DOM cleanup: -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        document.querySelector(".delete-btn").addEventListener("click", () => {
          const testElement = document.querySelector("lifecycle-test")
          testElement.parentNode.removeChild(testElement)
        })
      })
    </script>

    <!-- <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/omdomdom@0.3.0/dist/omdomdom.js"
      integrity="sha256-BpjOyF5QNlVmvIoAucFkb4hr+8+5r0qctp12U3J9cmM="
      crossorigin="anonymous"
    ></script> -->
    <!-- <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/omdomdom@0.3.0/dist/omdomdom.min.js"
      integrity="sha256-3nljHoQODiym3VbusqWmLtNJpCerzfNgoqH3RM/Vi34="
      crossorigin="anonymous"
    ></script> -->

    <!-- <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/rotom@0.9.2/dist/rotom.template.js"
      integrity="sha256-VCvTNMHKyllheidwKrN6aSGMNo/OTMlldeoJQLhpTZI="
      crossorigin="anonymous"
    ></script> -->
    <!-- <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/rotom@0.9.2/dist/rotom.template.min.js"
      integrity="sha256-l0g50A9Tw0UCiWQBOQmDHKD7RKVO4anDhoQ65ovyebk="
      crossorigin="anonymous"
    ></script> -->

    <script src="bundle.js" defer></script>
  </body>
</html>
